BasedOnStyle: Chromium
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Right
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
# ClangFormat 22 - In Progress - Replace `AlignAfterOpenBracket`
# BreakBeforeCloseBracketBracedList: true
# BreakBeforeCloseBracketFunction: true
# BreakBeforeCloseBracketIf: true
# BreakBeforeCloseBracketLoop: true
# BreakBeforeCloseBracketSwitch: true
ColumnLimit: 80
IndentWidth: 4
InsertNewlineAtEOF: true
LineEnding: LF
PointerAlignment: Middle
